# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Generated datasets
Ejercicio_1/data/processed_clients.csv

# OS files
.DS_Store

# Exercise 3 generated database
Ejercicio_3/rachas.db